.testimonials {
  @media screen and (max-width: 600px) {
    margin-bottom: 60px;
  }

  .container {
    @media screen and (max-width: 400px) {
      padding-left: 0;
      padding-right: 0;
    }
  }
  &__content {
    position: relative;
    top: -60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    @media screen and (max-width: 1050px) {
      margin: 0 auto;
      max-width: 700px;
      grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: 576px) {
      top: 0;
      display: block;
      max-width: 340px;
    }

  }
  &__item{
    position: relative;
    padding: 30px 20px;
    color: white;
    background: $picton-blue;
    border-right: 2px solid #9cd9ef;
    @media screen and (max-width: 1050px) {
      border-bottom: 2px solid #9cd9ef;
    }
    @media screen and (max-width: 576px) {
      padding: 30px;
      border: none;
    }
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0);
      display: none;
      width: 80%;
      height: 2px;
      background: #9cd9ef;
      @media screen and (max-width: 576px) {
        display: block;
      }

    }

    &:nth-child(2n) {
      @media screen and (max-width: 576px) {
        border-right: none;
      }
    }

    &:last-child {
      border: none;
    }
  }


  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 14px;
    width: 100px;
    height: 100px;
    background: white;
    border-radius: 50%;
    border: 6px solid #75cae9;
    overflow: hidden;
  }
  &__title {
    margin-bottom: 14px;
    @include montserat;
    text-align: center;
    @media screen and (max-width: 400px) {
      font-size: 24px;
    }

  }
  &__text {
    text-align: center;
  }
}