section.section.products
    .container
        header.section__header.section__header--center
            h3.section__subtitle Produsele noastre
            h2.section__title Inovație pentru a lua produsele
        .products__wrap
            .products__item
                .products__img
                    img(src="assets/i/products/1.jpg" alt="")
                h3.products__subtitle Convertor electronic
                h2.products__title Corector DTC 20 B
                a(href="product.html").btn.btn--white.btn--small Mai multe
            .products__item
                .products__img
                    img(src="assets/i/products/2.jpg" alt="")
                h3.products__subtitle Convertor electronic
                h2.products__title Corector DTC 20 B
                a(href="product.html").btn.btn--white.btn--small Mai multe
            .products__item
                .products__img
                    img(src="assets/i/products/3.jpg" alt="")
                h3.products__subtitle Convertor electronic
                h2.products__title Corector DTC 20 B
                a(href="product.html").btn.btn--white.btn--small Mai multe
            .products__item
                .products__img
                    img(src="assets/i/products/4.jpg" alt="")
                h3.products__subtitle Convertor electronic
                h2.products__title Corector DTC 20 B
                a(href="product.html").btn.btn--white.btn--small Mai multe
            .products__item
                .products__img
                    img(src="assets/i/products/1.jpg" alt="")
                h3.products__subtitle Convertor electronic
                h2.products__title Corector DTC 20 B
                a(href="product.html").btn.btn--white.btn--small Mai multe
            .products__item
                .products__img
                    img(src="assets/i/products/2.jpg" alt="")
                h3.products__subtitle Convertor electronic
                h2.products__title Corector DTC 20 B
                a(href="product.html").btn.btn--white.btn--small Mai multe
            .products__item
                .products__img
                    img(src="assets/i/products/3.jpg" alt="")
                h3.products__subtitle Convertor electronic
                h2.products__title Corector DTC 20 B
                a(href="product.html").btn.btn--white.btn--small Mai multe
            .products__item
                .products__img
                    img(src="assets/i/products/4.jpg" alt="")
                h3.products__subtitle Convertor electronic
                h2.products__title Corector DTC 20 B
                a(href="product.html").btn.btn--white.btn--small Mai multe
            .products__item
                .products__img
                    img(src="assets/i/products/1.jpg" alt="")
                h3.products__subtitle Convertor electronic
                h2.products__title Corector DTC 20 B
                a(href="product.html").btn.btn--white.btn--small Mai multe
            .products__item
                .products__img
                    img(src="assets/i/products/2.jpg" alt="")
                h3.products__subtitle Convertor electronic
                h2.products__title Corector DTC 20 B
                a(href="product.html").btn.btn--white.btn--small Mai multe
            .products__item
                .products__img
                    img(src="assets/i/products/3.jpg" alt="")
                h3.products__subtitle Convertor electronic
                h2.products__title Corector DTC 20 B
                a(href="product.html").btn.btn--white.btn--small Mai multe
            .products__item
                .products__img
                    img(src="assets/i/products/4.jpg" alt="")
                h3.products__subtitle Convertor electronic
                h2.products__title Corector DTC 20 B
                a(href="product.html").btn.btn--white.btn--small Mai multe
