include show-popup

footer.main-footer
    .container
        .main-footer__wrap
            .main-footer__item
                header.main-footer__header
                    a(href="index.html")
                        img(src="assets/i/logo-white.svg" alt="")
                p Contoarele de gaze sunt împărțite în mod convențional în uz casnic, utilitar și industrial, în funcție de capacitatea lor. Există multe variante de pasaje ale Lorem Ipsum disponibile, dar majoritatea au suferit modificări.

                ul.main-footer__socials
                    li
                        a(href="#")
                            img(src="assets/i/facebook-white.svg" alt="")
                    li
                        a(href="#")
                            img(src="assets/i/vk-white.svg" alt="")
            .main-footer__item
                header.main-footer__header
                    h3.main-footer__title Contacte
                ul
                    li
                        a(href="tel:069 76 9999") 069 76 9999
                    li
                        a(href="tel:069 77 4968") 069 77 4968
                    li
                        span Chișinău, str. Uzinelor 11/1
                    li
                        a(href="mailto:invent-in@rambler.ru") invent-in@rambler.ru
                    li
                        span Luni până sâmbătă: 9: 00-18: 00

            .main-footer__item
                header.main-footer__header
                    h3.main-footer__title Locatie
                .map
                    img(src="assets/i/map.jpg")
.copyright
    span    © 2019 Industry. All rights reserved.
