.show-popup
    .container
        .show-popup__wrap
            .show-popup__item
                h2.show-popup__title Comandați un contor
                h3.show-popup__subtitle Cum să alegeți și să cumpărați un contor de gaz adecvat
            .show-popup__item
                a(href="#").btn.btn--on-dark#js-show-popup Faceți o comandă
