.section.single-post.section--pb0
    .container
        .single-post__wrap
            .single-post__item
                header.section__header
                    h3.section__subtitle Suntem Solustrid
                    h2.section__title Transformarea cu inovații
                .single-post__content
                    p
                        b Conectarea tuturor industriilor și crearea unei punți între toate în această eră revoluționară a industrializării și dezvoltării cu anii noștri de experiență
                    p Solustrid stă la dispoziție inovație, servicii, certificare, producție, dezvoltare. Singurul și singurul nostru obiectiv este să susținem economia mondială, oferind cele mai bune servicii pentru că credem „Lumea ești tu”.
                    p Instalarea unui contor de gaz este un lucru necesar. În primul rând, plata cu contorul va fi mult mai mică decât cea plătită la tarifele standard. Cât de cubi de gaz cheltuiți, exact ceea ce trebuie să plătiți. Acei rezidenți care nu au instalat un contor de gaz plătesc de mai multe ori. Și în al doilea rând, veți începe să economisiți gaze naturale și nu îl veți irosi. Prin instalarea unui contor de gaz, vă veți economisi banii.

                    a.btn(href="#") Mai multe
            .single-post__item
                .single-post__images
                    img(src="assets/i/single-post-1.jpg" alt="")
                    img(src="assets/i/single-post-2.jpg" alt="")
