.slider#js-slider
    .slider-button.slider-button__left
        img(src="assets/i/arrow-left.svg")
    .slider-button.slider-button__right
        img(src="assets/i/arrow-right.svg")
    .slider__wrap#js-slider__wrap
        .slider__item
            .slider__img(style="background-image: url('assets/i/slider-1.jpg')")
            .container
                .slider__content
                    .slider__center
                        h3.slider__subtitle Producerea lumii
                        h2.slider__title Alegeți și cumpărați un contor de gaz adecvat
                        p.slider__text Pentru a ține cont de fluxul de gaz care trece prin el este necesar un contor de gaz casnic.
        .slider__item
            .slider__img(style="background-image: url('assets/i/slider-1.jpg')")
            .container
                .slider__content
                    .slider__center
                        h3.slider__subtitle Producerea lumii
                        h2.slider__title Alegeți și cumpărați un contor de gaz adecvat
                        p.slider__text Pentru a ține cont de fluxul de gaz care trece prin el este necesar un contor de gaz casnic.
        .slider__item
            .slider__img(style="background-image: url('assets/i/slider-1.jpg')")
            .container
                .slider__content
                    .slider__center
                        h3.slider__subtitle Producerea lumii
                        h2.slider__title Alegeți și cumpărați un contor de gaz adecvat
                        p.slider__text Pentru a ține cont de fluxul de gaz care trece prin el este necesar un contor de gaz casnic.
