section.section.testimonials
    .container
        .testimonials__content
            .testimonials__item
                .testimonials__img
                    img(src="assets/i/testimonials/1.svg" alt="")
                h3.testimonials__title Bine intretinut
                p.testimonials__text Solustrid stă la dispoziție inovație, servicii, certificare, producție, dezvoltare. Singurul și singurul nostru obiectiv este să susținem economia
            .testimonials__item
                .testimonials__img
                    img(src="assets/i/testimonials/2.svg" alt="")
                h3.testimonials__title Specialist industrial
                p.testimonials__text Solustrid stă la dispoziție inovație, servicii, certificare, producție, dezvoltare. Singurul și singurul nostru obiectiv este să susținem economia certificare, producție
            .testimonials__item
                .testimonials__img
                    img(src="assets/i/testimonials/3.svg" alt="")
                h3.testimonials__title Echipamente
                p.testimonials__text Solustrid stă la dispoziție inovație, servicii, certificare, producție, dezvoltare. Singurul și singurul nostru obiectiv
            .testimonials__item
                .testimonials__img
                    img(src="assets/i/testimonials/4.svg" alt="")
                h3.testimonials__title Angajament
                p.testimonials__text Solustrid stă la dispoziție inovație, servicii, certificare, producție, dezvoltare. Singurul și singurul nostru obiectiv este să susținem economia


