//grid
$xs:  320px;
$md:  768px;
$xl:  1150px;

//colors
$white:  #fff;
$black:  #000;
$limed-spruce: #35414B;
$picton-blue: #3AB3DF;
$cerulean: #02A1DD;
$aqua-heiz: #F7F9FA;
$flamingo: #EB662D;

