//grid
$xs:  320px;
$md:  768px;
$xl:  1150px;

//colors
$white:  #fff;
$black:  #000;
$main-shaft: #232323;
$emperor: #535353;
$indigo: #3865BE;
$tundora: #4e4e4e;
$catskill-white: #F3F5F9;
