@import 'partials/fonts';
@import 'partials/variables';
@import 'partials/mixins';
@import '../libs/slick/slick/slick.scss';
// @import '../../../build/assets/i/svg/bg/css/sprite.css'

body {
  margin: 0;
  padding: 0;
  @include robotregular;
  font-size: 16px;
  line-height: 30px;
  color: $main-shaft;
  background: white;

  &.fixed {
    overflow: hidden;
  }
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}


img {
  max-width: 100%;
  height: auto;
}

ul {
  @include reset-list;
}

p {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

.container-big {
  margin: 0 auto;
  max-width: 1920px;
}

a {
  text-decoration: none;

  &:visited {
    color: inherit;
  }
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1210px;
}

.main-header {
  padding: 20px 0;

  .logo {
    img {
      display: block;
    }
  }

  &__content {
    position: relative;
    display: flex;
    align-items: center;
  }

  .main-menu {
    display: flex;
    align-items: center;
    margin-left: 30px;
    @media screen and (max-width: 992px) {
      display: none;
    }
    &.fixed {
      position: fixed;
      top: 0;
      left: 0;
      margin: 0;
      padding-top: 80px;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      background: white;
      z-index: 1000;
    }

    li.current-menu-item {
      a {
        color: $indigo;
      }
    }

    a {
      display: block;
      padding: 15px;
      color: inherit;
      transition: all .2s;

      &:hover {
        color: $indigo;
      }
    }
  }

  .wpglobus-lang {
    margin-left: auto;

    .name,
    img {
      display: none;
    }

    a {
      display: inline-block;
      margin-right: 4px;
      padding: 8px 12px;
      color: $indigo;
      background: transparent;
      border-radius: 3px;
      border: 1px solid $indigo;

      &.wpglobus-current-language {
        color: white;
        background: $indigo;
      }
    }
  }
}
.sandwitch-wrap {
  position: absolute;
  top: 2px;
  left: 14%;
  display: none;
  padding: 18px 10px;
  border: 1px solid $main-shaft;
  border-radius: 3px;
  z-index: 1001;
  @media screen and (max-width: 992px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media screen and (max-width: 470px) {
  	left: 22%;
  }

}
.sandwitch {
  position: relative;
  display: block;
  width: 23px;
  height: 14px;
  cursor: pointer;
}

.sandwitch--active .sandwitch__line--top {
  top: 6px;
  transform: rotate(45deg);
}

.sandwitch--active .sandwitch__line--middle {
  opacity: 0;
}

.sandwitch--active .sandwitch__line--bottom {
  top: 6px;
  transform: rotate(-45deg);
}

.sandwitch__line {
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  transition: all linear 0.1s;
  background-color: $main-shaft;
}

.sandwitch__line--top {
  top: 0;
}

.sandwitch__line--middle {
  top: 6px;
}

.sandwitch__line--bottom {
  top: 12px;
}
